<%- include ("../partials/header") %>

<div class="container-fluid resources">
	<div class="row">
	
	<% resources.forEach(function(resource){ %>
		<div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6">
		<a href="<%= resource.link %>">
		<div class="card bg-dark text-white">
  			<img src="<%= resource.image %>"  alt="...">
 				<div class="card-img-overlay">
    				<h5 class="card-title"><%= resource.title %></h5>
   						 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional 							content. This content is a little bit longer.</p>
   						 <p class="card-text">Property of <%= resource.owner %></p>
  				</div>
		</div>
			</a>
		</div>
	<% }); %>
		</div>
</div>


<%- include ("../partials/footer") %>