<%- include ("../partials/header") %>

<% blogs.forEach(function(blog){ %>
	<div class="card hover">
		<div class="card-img" style="background-image:url(<%= blog.image %>);">
			<div class="overlay">
				<div class="overlay-content">
					<a class="hover" href="blogIndex/<%= blog._id %>">View More</a>
				</div>
			</div>
		</div>
			<div class="card-content">
				<a href="#">
					<h5><%= blog.title %></h5>
					<p><%= blog.subtitle %></p>
				</a>
			</div>
	</div>
<% }); %>

<a href="/blogIndex/new">Add new BlogPost</a>




<%- include ("../partials/footer") %>