<%- include ("../partials/header") %>

<div class="container blogshow">

	<p class="blogtitle"><%= blog.title %></p>
	<p><%= blog.blogContent %></p>

	<form action="/blogIndex/<%= blog._id %>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Delete</button>
	</form>
	
		
</div>

<%- include ("../partials/footer") %>