<%- include ("../partials/header") %>

<div class="container-fluid blogshow">
	
	<img src="<%= blog.image %>" class="center">
	
	<a id="back" href="/blogIndex">Back</a>

	<p class="blogtitle"><%= blog.title %></p>
	<p class="blogcontent" style="white-space: pre-wrap;"><%= blog.blogContent %></p>
	<h6><%= blog.topic %></h6>

	<form action="/blogIndex/<%= blog._id %>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Delete</button>
	</form>
	
	<a class="btn btn-danger" href="/blogIndex/<%= blog._id %>/edit">Edit</a>
	<a id="back" href="/blogIndex">Back</a>

		
</div>

<%- include ("../partials/footer") %>